:root{
  --color-primary-1: hsl(233, 26%, 24%);
  --color-primary-2: hsl(136, 65%, 51%);
  --color-primary-3: hsl(192, 70%, 51%);
  --color-neutral-1: hsl(233, 8%, 62%);
  --color-neutral-2: hsl(220, 16%, 96%);
  --color-neutral-3: hsl(0, 0%, 98%);

  --margin-sm: 2rem;
  --margin-md: 3rem;
  --margin-lg: 10rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; /*make 1rem = 10px so that calculations are easier */
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.8rem; /* 18px; */
  color: var(--color-neutral-1);
  overflow-x: hidden; /*this is to hide the overflow of the intro image*/
}


/*** HEADER SECTION ***/
.header-section{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem var(--margin-lg);
  position: relative;
  z-index: 10; /*so that mobile image is cut off on top*/
}

.menu-dropdown{
  position: relative;
}

/*Hide checkbox - this "invisible" checkbox is used to toggle the menu on smaller screens*/
.menu-checkbox {
    display: none;
}

.menu-checkbox:checked ~ .header-nav {
    display: block;
}

.menu-checkbox:checked ~ .menu-toggle > .menu-toggle-close {
    display: block;
}

.menu-checkbox:checked ~ .menu-toggle > .menu-toggle-open {
    display: none;
}

.menu-toggle {
    display: none;
    padding: 2rem;
    text-align: end;
}

.header-nav{
  display: flex;
  align-items: center;
}

.header-nav ul{
  display: flex;
  list-style: none;
  margin-right: auto;
  width: 65%;
}

.header-link{
  color: var(--color-neutral-1);
  font-size: 1.4rem;
  font-weight: 400;
  padding: 2rem 1.5rem;
  text-decoration: none;
}

.header-link:hover{
  color: var(--color-primary-1);
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, var(--color-primary-2), var(--color-primary-3));
  border-image-slice: 1;
  text-decoration: none;
}


/*** RE-USABLE CTA-BTN ***/
.cta-btn{
  background-image: linear-gradient(to right, var(--color-primary-2), var(--color-primary-3));
  border-radius: 30px;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1rem 2.5rem;
  text-decoration: none;
}

.cta-btn:hover{
  opacity: .8;
}


/*** INTRO SECTION ***/
.intro-section{
  background-color: var(--color-neutral-3);
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* height: 60vh; */
}

.intro-section__text{
  padding-left: var(--margin-lg);
  padding-bottom: 8rem;
  width: 50%;
}

.intro-section__text h1{
  color: var(--color-primary-1);
  font-size: 4.2rem;
  font-weight: 300;
}

.intro-section__text p{
  padding: 2rem 0 3rem 0;
}

.intro-section__image{
  background-image: url('images/bg-intro-desktop.svg');
  background-repeat: no-repeat;
  background-position: left 0% bottom 25%;
  background-size: 150% 150%;
  height: 65vh;
  width: 50%;
  /* overflow: hidden; */
  /* overflow-y: visible; */
}

.intro-section__image img{
  display: block;
  height: 140%;
  width: 140%;
  object-fit: contain;
  transform: translate(1%, -15%);
}


/*** FEATURES SECTION ***/
.features-section{
  background-color: var(--color-neutral-2);
  padding: 6rem var(--margin-lg);
}

.features-section h2{
  color: var(--color-primary-1);
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 2rem;
}

.features-card-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 20px;
  padding-top: 6rem;
}

.features-card{
    margin-bottom: 2rem;
}

.features-card h3{
  color: var(--color-primary-1);
  font-size: 2rem;
  font-weight: 300;
  padding: 2rem 0;
}

/*** ARTICLES SECTION ***/
.article-section{
  background-color: var(--color-neutral-3);
  padding: 6rem var(--margin-lg);
}

.article-section h2{
  color: var(--color-primary-1);
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 2rem;
}

.article-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 20px;
}

.article-card{
  background-color: white;
}

.article-card__img{
  display: block;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.article-card__text{
    padding: 3rem;
    text-align: left;
}

.article-card__text h5{
   font-size: 1.2rem;
   font-weight: 300;
   padding: 1.5rem 0;
}

.article-card__text--link{
  color: var(--color-primary-1);
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
}

.article-card__text--link:hover{
    color: var(--color-primary-2);
}

.article-card__text p{
  margin-top: 1.5rem;
}


/*** FOOTER SECTION ***/
footer{
  background-color: var(--color-primary-1);
}


/*** MEDIA QUERIES ***/
@media only screen and (max-width: 1200px) {
  /*** HEADER SECTION ***/

    .header-section{
      padding: 2rem var(--margin-md);
    }
/*** INTRO SECTION ***/
    .intro-section__text{
      padding-left: var(--margin-md);
    }

/*** FEATURES SECTION ***/

    .features-section{
      padding: 6rem var(--margin-md);
    }

/*** ARTICLE SECTION ***/

    .article-section{
      padding: 6rem var(--margin-md);
    }
}

@media only screen and (max-width: 800px) {
/*** HEADER SECTION ***/

  .cta-btn-nav{
    display: none;
  }
}

@media only screen and (max-width: 600px) {
/*** HEADER SECTION ***/

  .header-section{
    padding: 0 var(--margin-sm);
  }

  .menu-toggle{
    display: block;
  }

  .menu-toggle-close, .cta-btn-nav{
    display: none;
  }

  .header-nav{
    background-image: linear-gradient(to bottom, rgba(45, 49, 77, .9), transparent);
    display: none;
    padding: 3rem;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden; /*prevent scrolling until menu closed*/
    z-index: 20;
  }

  .header-nav ul{
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
  }

  .header-nav ul > li{
    margin: 1.5rem;
  }

  .header-link{
    color: var(--color-primary-1);
    font-size: 1.8rem;
    font-weight: 400;
    padding: 1rem 1.5rem;
    text-decoration: none;
  }

  .header-link:hover{
    color: var(--color-neutral-1);
  }

/*** INTRO SECTION ***/
  .intro-section{
    flex-direction: column;
  }

  .intro-section__image{
    background-image: url('images/bg-intro-mobile.svg');
    height: 60vh;
    width: 100%;
    background-position: center bottom;
    background-size: 100% 100%;
  }

  .intro-section__image img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;

    transform: translate(0, -10%);
  }

  .intro-section__text{
    order: 1;
    padding-left: var(--margin-sm);
    text-align: center;
    width: 100%;
  }

  /*** FEATURES SECTION ***/

  .features-section{
    padding: 6rem var(--margin-sm);
    text-align: center;
  }

  /*** ARTICLE SECTION ***/

  .article-section{
    padding: 6rem var(--margin-sm);
    text-align: center;
  }
}
