:root{
  --color-primary-1: hsl(233, 26%, 24%);
  --color-primary-2: hsl(136, 65%, 51%);
  --color-priamry-3: hsl(192, 70%, 51%);
  --color-neutral-1: hsl(233, 8%, 62%);
  --color-neutral-2: hsl(220, 16%, 96%);
  --color-neutral-3: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; /*make 1rem = 10px so that calculations are easier */
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.8rem; /* 18px; */
  color: var(--color-neutral-1);
}

.intro-section{
  background-color: var(--color-neutral-3);
  display: flex;
}

.intro-section__image{
  background-image: url('images/bg-intro-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.intro-section__image img{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.features-section{
  background-color: var(--color-neutral-2);
}

.article-section{
  background-color: var(--color-neutral-3);
}

footer{
  background-color: var(--color-primary-1);
}

@media only screen and (max-width: 600px) {
  .intro-section{
    flex-direction: column;
  }

  .intro-section__image{
    background-image: url('images/bg-intro-mobile.svg');
  }

  .intro-section__text{
    order: 1;
  }
}
